<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shikshitha.admin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".group.GroupActivity"
            android:label="@string/title_activity_group"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".newgroup.NewGroupActivity"
            android:label="@string/title_activity_new_group"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".group.GroupActivity" />
        </activity>
        <activity
            android:name=".messagegroup.MessageActivity"
            android:label="@string/title_activity_message"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".group.GroupActivity" />
        </activity>
        <activity
            android:name=".messagegroup.ImageUploadActivity"
            android:label="@string/upload_image"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".messagegroup.MessageActivity" />
        </activity>
        <activity
            android:name=".usergroup.UserGroupActivity"
            android:label="@string/title_activity_user_group"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ContextToolbarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".messagegroup.MessageActivity" />
        </activity>
        <activity
            android:name=".attendance.AttendanceActivity"
            android:label="@string/attendance"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ContextToolbarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".group.GroupActivity" />
        </activity>
        <activity
            android:name=".homework.HomeworkActivity"
            android:label="@string/homework"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ContextToolbarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".group.GroupActivity" />
        </activity>
        <activity
            android:name=".timetable.TimetableActivity"
            android:label="@string/timetable"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".group.GroupActivity" />
        </activity>
    </application>

</manifest>