<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shikshitha.admin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".group.GroupActivity"
            android:label="@string/title_activity_group"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".newgroup.NewGroupActivity"
            android:label="@string/title_activity_new_group"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".group.GroupActivity" />
        </activity>
        <activity
            android:name=".messagegroup.MessageActivity"
            android:label="@string/title_activity_message"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ContextToolbarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".group.GroupActivity" />
        </activity>
        <activity
            android:name=".messagegroup.ImageUploadActivity"
            android:label="@string/upload_image"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".messagegroup.MessageActivity" />
        </activity>
        <activity
            android:name=".usergroup.UserGroupActivity"
            android:label="@string/title_activity_user_group"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ContextToolbarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".messagegroup.MessageActivity" />
        </activity>
        <activity
            android:name=".attendance.AttendanceActivity"
            android:label="@string/attendance"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ContextToolbarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".group.GroupActivity" />
        </activity>
        <activity
            android:name=".homework.HomeworkActivity"
            android:label="@string/homework"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ContextToolbarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".group.GroupActivity" />
        </activity>
        <activity
            android:name=".timetable.TimetableActivity"
            android:label="@string/timetable"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".group.GroupActivity" />
        </activity>
        <activity
            android:name=".calendar.CalendarActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".group.GroupActivity" />
        </activity>
        <activity
            android:name=".chathome.ChatsActivity"
            android:label="@string/title_activity_chats"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ContextToolbarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".group.GroupActivity" />
        </activity>
        <activity
            android:name=".newchat.NewChatActivity"
            android:label="@string/title_activity_new_chat"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chathome.ChatsActivity" />
        </activity>
        <activity
            android:name=".chat.ChatActivity"
            android:label="@string/title_activity_chat"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chathome.ChatsActivity" />
        </activity>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
        <service
            android:name=".fcm.MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".messagegroup.MessageViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BlackActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".messagegroup.MessageActivity" />
        </activity>

        <service
            android:name=".fcm.FCMIntentService"
            android:exported="false" />

        <activity
            android:name=".messagerecipient.MessageRecipientActivity"
            android:label="@string/title_activity_message_recipient"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".messagegroup.MessageActivity" />
        </activity>

        <service
            android:name=".util.VersionIntentService"
            android:exported="false" />

        <activity
            android:name="com.darsh.multipleimageselect.activities.AlbumSelectActivity"
            android:theme="@style/MultipleImageSelectTheme">
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gallery.GalleryActivity"
            android:label="@string/gallery"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ContextToolbarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".group.GroupActivity" />
        </activity>
        <activity
            android:name=".album.AlbumActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ContextToolbarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gallery.GalleryActivity" />
        </activity>

        <service
            android:name=".album.AlbumUploadService"
            android:exported="false" />

        <activity
            android:name=".album.ImageSlideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlackActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".album.AlbumActivity" />
        </activity>
        <activity
            android:name=".chat.ChatImageActivity"
            android:label="@string/upload_image"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chat.ChatActivity" />
        </activity>
        <activity
            android:name=".reportcard.ReportActivity"
            android:label="@string/title_activity_result"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".group.GroupActivity" />
        </activity>
        <activity
            android:name=".newalbum.NewAlbumActivity"
            android:label="@string/new_album"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gallery.GalleryActivity" />
        </activity>
    </application>

</manifest>